<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-danger">Modifier Contact</p>
            <p class="fst-italic"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Accusamus architecto corporis dolorum harum ipsa laudantium non omnis saepe veritatis voluptatem.
                Atque doloribus ducimus esse inventore, neque nostrum obcaecati sunt suscipit!</span></p>
        </div>
    </div>
</div>

<!--Edit Contact Form-->
<div class="container">
    <div class="div row">
        <div class="col-sm-4">
            <form (submit)="submitUpdate()">
                <div class="mb-2">
                    <input [(ngModel)]="contact.name" [value]="contact.name" name="name"
                           class="form-control" placeholder="Name" type="text">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.photo" [value]="contact.photo" name="photo"
                            class="form-control" placeholder="Photo Url" type="text">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.email" [value]="contact.email" name="email"
                           class="form-control" placeholder="Email" type="text">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.mobile" [value]="contact.mobile" name="mobile"
                           class="form-control" placeholder="Mobile" type="text">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.entreprise" [value]="contact.entreprise" name="entreprise"
                           class="form-control" placeholder="Compagnie" type="text">
                </div>
                <div class="mb-2">
                    <input [(ngModel)]="contact.title" [value]="contact.title" name="title"
                           class="form-control" placeholder="Titre" type="text">
                </div>
                <div class="mb-2">
                    <select [(ngModel)]="contact.groupId" [value]="contact.groupId" name="groupId"
                            class="form-control">
                        <option value="">Choisir le groupe</option>
                        <option [value]="group.id" *ngFor="let group of groups">{{ group.name}}</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input class="btn btn-danger" type="submit" value="Modifier">
                    <a routerLink="/" class="btn btn-dark ms-2">Annuler</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img [src]="contact.photo" alt="" class="contact-img">
        </div>
    </div>
</div>
